-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: cwa_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ChangeLog`
--

DROP TABLE IF EXISTS `ChangeLog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ChangeLog` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ChangedTable` varchar(50) NOT NULL,
  `RecordPK` varchar(50) NOT NULL,
  `Operation` varchar(10) NOT NULL,
  `ChangedBy` varchar(20) DEFAULT NULL,
  `ChangedAt` timestamp NOT NULL,
  `Source` varchar(32) DEFAULT NULL,
  `BeforeData` text,
  `AfterData` text,
  PRIMARY KEY (`ID`),
  KEY `fk_ChangeLog_ChangedBy` (`ChangedBy`),
  CONSTRAINT `fk_ChangeLog_ChangedBy` FOREIGN KEY (`ChangedBy`) REFERENCES `Person` (`PersonID`)
) ENGINE=InnoDB AUTO_INCREMENT=1583 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ChangeLog`
--

LOCK TABLES `ChangeLog` WRITE;
/*!40000 ALTER TABLE `ChangeLog` DISABLE KEYS */;
/*!40000 ALTER TABLE `ChangeLog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Club`
--

DROP TABLE IF EXISTS `Club`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Club` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ClubAbbreviation` varchar(20) NOT NULL,
  `ClubName` varchar(100) NOT NULL,
  `ClubStatus` varchar(8) NOT NULL,
  `BeginDate` date DEFAULT NULL,
  `EndDate` date DEFAULT NULL,
  `BoardMember1` varchar(20) DEFAULT NULL,
  `BoardMember2` varchar(20) DEFAULT NULL,
  `DefaultRaceSecretary` varchar(20) DEFAULT NULL,
  `Notes` varchar(250) DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `ClubAbbreviation` (`ClubAbbreviation`),
  KEY `fk_Club_BoardMember1` (`BoardMember1`),
  KEY `fk_Club_BoardMember2` (`BoardMember2`),
  KEY `fk_Club_DefaultRaceSecretary` (`DefaultRaceSecretary`),
  KEY `fk_Club_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_Club_BoardMember1` FOREIGN KEY (`BoardMember1`) REFERENCES `Person` (`PersonID`),
  CONSTRAINT `fk_Club_BoardMember2` FOREIGN KEY (`BoardMember2`) REFERENCES `Person` (`PersonID`),
  CONSTRAINT `fk_Club_DefaultRaceSecretary` FOREIGN KEY (`DefaultRaceSecretary`) REFERENCES `Person` (`PersonID`),
  CONSTRAINT `fk_Club_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Club`
--

LOCK TABLES `Club` WRITE;
/*!40000 ALTER TABLE `Club` DISABLE KEYS */;
INSERT INTO `Club` VALUES (1,'WINE','WINE','Active',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(2,'SMART','SMART','Active',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `Club` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Dog`
--

DROP TABLE IF EXISTS `Dog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Dog` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `CWANumber` varchar(10) NOT NULL,
  `AKCNumber` varchar(10) DEFAULT NULL,
  `CKCNumber` varchar(10) DEFAULT NULL,
  `ForeignNumber` varchar(50) DEFAULT NULL,
  `ForeignType` varchar(50) DEFAULT NULL,
  `CallName` varchar(50) DEFAULT NULL,
  `RegisteredName` varchar(100) NOT NULL,
  `Birthdate` date NOT NULL,
  `PedigreeLink` varchar(500) DEFAULT NULL,
  `Status` varchar(10) NOT NULL,
  `Average` decimal(5,2) DEFAULT NULL,
  `CurrentGrade` varchar(3) NOT NULL,
  `MeetPoints` decimal(5,2) DEFAULT NULL,
  `ARXPoints` decimal(5,2) DEFAULT NULL,
  `NARXPoints` decimal(5,2) DEFAULT NULL,
  `ShowPoints` smallint DEFAULT NULL,
  `DPCLegs` smallint DEFAULT NULL,
  `MeetWins` decimal(5,2) DEFAULT NULL,
  `MeetAppearences` decimal(5,2) DEFAULT NULL,
  `HighCombinedWins` decimal(5,2) DEFAULT NULL,
  `Notes` varchar(250) DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `CWANumber` (`CWANumber`),
  KEY `fk_Dog_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_Dog_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=266 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Dog`
--

LOCK TABLES `Dog` WRITE;
/*!40000 ALTER TABLE `Dog` DISABLE KEYS */;
/*!40000 ALTER TABLE `Dog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DogOwner`
--

DROP TABLE IF EXISTS `DogOwner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DogOwner` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `CWAID` varchar(10) NOT NULL,
  `PersonID` varchar(20) NOT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `CWAID` (`CWAID`,`PersonID`),
  KEY `fk_DogOwner_Person` (`PersonID`),
  KEY `fk_DogOwner_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_DogOwner_Dog` FOREIGN KEY (`CWAID`) REFERENCES `Dog` (`CWANumber`),
  CONSTRAINT `fk_DogOwner_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_DogOwner_Person` FOREIGN KEY (`PersonID`) REFERENCES `Person` (`PersonID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DogOwner`
--

LOCK TABLES `DogOwner` WRITE;
/*!40000 ALTER TABLE `DogOwner` DISABLE KEYS */;
/*!40000 ALTER TABLE `DogOwner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DogTitles`
--

DROP TABLE IF EXISTS `DogTitles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DogTitles` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `CWANumber` varchar(10) NOT NULL,
  `Title` varchar(10) NOT NULL,
  `TitleNumber` varchar(10) NOT NULL,
  `TitleDate` date DEFAULT NULL,
  `NamePrefix` char(1) NOT NULL,
  `NameSuffix` char(1) NOT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `CWANumber` (`CWANumber`,`Title`),
  KEY `fk_DogTitles_TitleType` (`Title`),
  KEY `fk_DogTitles_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_DogTitles_Dog` FOREIGN KEY (`CWANumber`) REFERENCES `Dog` (`CWANumber`),
  CONSTRAINT `fk_DogTitles_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_DogTitles_TitleType` FOREIGN KEY (`Title`) REFERENCES `TitleType` (`Title`)
) ENGINE=InnoDB AUTO_INCREMENT=601 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DogTitles`
--

LOCK TABLES `DogTitles` WRITE;
/*!40000 ALTER TABLE `DogTitles` DISABLE KEYS */;
/*!40000 ALTER TABLE `DogTitles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Event`
--

DROP TABLE IF EXISTS `Event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Event` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `EventID` varchar(20) NOT NULL,
  `EventName` varchar(100) NOT NULL,
  `StartDate` date NOT NULL,
  `EndDate` date NOT NULL,
  `Location` varchar(100) NOT NULL,
  `Status` varchar(30) DEFAULT NULL,
  `Notes` text,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `EventID` (`EventID`),
  KEY `LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_Event_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Event`
--

LOCK TABLES `Event` WRITE;
/*!40000 ALTER TABLE `Event` DISABLE KEYS */;
/*!40000 ALTER TABLE `Event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Meet`
--

DROP TABLE IF EXISTS `Meet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Meet` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `MeetNumber` varchar(20) NOT NULL,
  `ClubAbbreviation` varchar(20) NOT NULL,
  `MeetDate` date NOT NULL,
  `RaceSecretary` varchar(20) DEFAULT NULL,
  `Judge` varchar(20) DEFAULT NULL,
  `Location` varchar(20) NOT NULL,
  `Yards` int NOT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  `EventID` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `MeetNumber` (`MeetNumber`),
  KEY `fk_Meet_Club` (`ClubAbbreviation`),
  KEY `fk_Meet_RaceSecretary` (`RaceSecretary`),
  KEY `fk_Meet_Judge` (`Judge`),
  KEY `fk_Meet_LastEditedBy` (`LastEditedBy`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `fk_Meet_Club` FOREIGN KEY (`ClubAbbreviation`) REFERENCES `Club` (`ClubAbbreviation`),
  CONSTRAINT `fk_Meet_Event` FOREIGN KEY (`EventID`) REFERENCES `Event` (`EventID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_Meet_Judge` FOREIGN KEY (`Judge`) REFERENCES `Person` (`PersonID`),
  CONSTRAINT `fk_Meet_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_Meet_RaceSecretary` FOREIGN KEY (`RaceSecretary`) REFERENCES `Person` (`PersonID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Meet`
--

LOCK TABLES `Meet` WRITE;
/*!40000 ALTER TABLE `Meet` DISABLE KEYS */;
INSERT INTO `Meet` VALUES (1,'2026-01','WINE','2026-02-09','SYSTEM','SYSTEM','Fayetteville AR',300,'warrensLee','2026-03-23 23:09:34',NULL),(2,'2026-02','SMART','2026-02-23','SYSTEM','SYSTEM','Springdale AR',325,'warrensLee','2026-03-23 23:09:42',NULL),(3,'1232','WINE','2232-03-22','SYSTEM','SYSTEM','23',300,'warrensLee','2026-03-27 19:46:48',NULL),(5,'3212','SMART','2026-03-29','SYSTEM','SYSTEM','UARK',500,'warrensLee','2026-03-31 00:19:08',NULL);
/*!40000 ALTER TABLE `Meet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `MeetResults`
--

DROP TABLE IF EXISTS `MeetResults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `MeetResults` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `MeetNumber` varchar(20) NOT NULL,
  `CWANumber` varchar(10) NOT NULL,
  `Average` decimal(5,2) NOT NULL,
  `Grade` varchar(3) NOT NULL,
  `MeetPlacement` int NOT NULL,
  `MeetPoints` decimal(5,2) NOT NULL,
  `ARXEarned` decimal(5,2) NOT NULL,
  `NARXEarned` decimal(5,2) NOT NULL,
  `Shown` char(1) NOT NULL,
  `ShowPlacement` int DEFAULT NULL,
  `ShowPoints` int DEFAULT NULL,
  `DPCLeg` char(1) DEFAULT NULL,
  `HCScore` int DEFAULT NULL,
  `HCLegEarned` char(1) DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `MeetNumber` (`MeetNumber`,`CWANumber`),
  KEY `fk_MeetResults_Dog` (`CWANumber`),
  KEY `fk_MeetResults_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_MeetResults_Dog` FOREIGN KEY (`CWANumber`) REFERENCES `Dog` (`CWANumber`),
  CONSTRAINT `fk_MeetResults_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_MeetResults_Meet` FOREIGN KEY (`MeetNumber`) REFERENCES `Meet` (`MeetNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `MeetResults`
--

LOCK TABLES `MeetResults` WRITE;
/*!40000 ALTER TABLE `MeetResults` DISABLE KEYS */;
/*!40000 ALTER TABLE `MeetResults` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `News`
--

DROP TABLE IF EXISTS `News`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `News` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(100) NOT NULL,
  `Content` text NOT NULL,
  `CreatedAt` timestamp NOT NULL,
  `UpdatedAt` timestamp NULL DEFAULT NULL,
  `AuthorID` varchar(20) DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `fk_News_Author` (`AuthorID`),
  KEY `fk_News_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_News_Author` FOREIGN KEY (`AuthorID`) REFERENCES `Person` (`PersonID`),
  CONSTRAINT `fk_News_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `News`
--

LOCK TABLES `News` WRITE;
/*!40000 ALTER TABLE `News` DISABLE KEYS */;
/*!40000 ALTER TABLE `News` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `NewsletterSubscription`
--

DROP TABLE IF EXISTS `NewsletterSubscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `NewsletterSubscription` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `EmailAddress` varchar(50) NOT NULL,
  `IsActive` tinyint(1) NOT NULL DEFAULT '1',
  `SubscribedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `UnsubscribedAt` timestamp NULL DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `EmailAddress` (`EmailAddress`),
  KEY `fk_NewsletterSubscription_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_NewsletterSubscription_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `NewsletterSubscription`
--

LOCK TABLES `NewsletterSubscription` WRITE;
/*!40000 ALTER TABLE `NewsletterSubscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `NewsletterSubscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `OfficerRole`
--

DROP TABLE IF EXISTS `OfficerRole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `OfficerRole` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `RoleName` varchar(50) NOT NULL,
  `PersonID` varchar(20) NOT NULL,
  `DisplayOrder` int NOT NULL,
  `Active` tinyint(1) DEFAULT '1',
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `RoleName` (`RoleName`),
  KEY `fk_OfficerRole_Person` (`PersonID`),
  KEY `fk_OfficerRole_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_OfficerRole_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_OfficerRole_Person` FOREIGN KEY (`PersonID`) REFERENCES `Person` (`PersonID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `OfficerRole`
--

LOCK TABLES `OfficerRole` WRITE;
/*!40000 ALTER TABLE `OfficerRole` DISABLE KEYS */;
/*!40000 ALTER TABLE `OfficerRole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Person`
--

DROP TABLE IF EXISTS `Person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Person` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `PersonID` varchar(20) NOT NULL,
  `FirstName` varchar(50) NOT NULL,
  `LastName` varchar(50) NOT NULL,
  `EmailAddress` varchar(50) DEFAULT NULL,
  `AddressLineOne` varchar(50) DEFAULT NULL,
  `AddressLineTwo` varchar(50) DEFAULT NULL,
  `City` varchar(50) DEFAULT NULL,
  `StateProvince` varchar(50) DEFAULT NULL,
  `ZipCode` varchar(10) DEFAULT NULL,
  `Country` varchar(6) DEFAULT NULL,
  `PrimaryPhone` varchar(10) DEFAULT NULL,
  `SecondaryPhone` varchar(10) DEFAULT NULL,
  `SystemRole` varchar(20) NOT NULL,
  `PasswordHash` varchar(255) NOT NULL,
  `Notes` varchar(250) DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PersonID` (`PersonID`),
  KEY `fk_Person_SystemRole` (`SystemRole`),
  KEY `fk_Person_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_Person_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_Person_SystemRole` FOREIGN KEY (`SystemRole`) REFERENCES `UserRole` (`Title`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Person`
--

LOCK TABLES `Person` WRITE;
/*!40000 ALTER TABLE `Person` DISABLE KEYS */;
/*!40000 ALTER TABLE `Person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `RaceResults`
--

DROP TABLE IF EXISTS `RaceResults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `RaceResults` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `MeetNumber` varchar(20) NOT NULL,
  `CWANumber` varchar(10) NOT NULL,
  `Program` varchar(1) NOT NULL,
  `RaceNumber` varchar(10) NOT NULL,
  `EntryType` varchar(5) DEFAULT NULL,
  `Box` int NOT NULL,
  `Placement` int NOT NULL,
  `MeetPoints` decimal(3,2) NOT NULL,
  `Incident` varchar(5) DEFAULT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `MeetNumber` (`MeetNumber`,`CWANumber`,`Program`,`RaceNumber`),
  KEY `fk_RaceResults_Dog` (`CWANumber`),
  KEY `fk_RaceResults_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_RaceResults_Dog` FOREIGN KEY (`CWANumber`) REFERENCES `Dog` (`CWANumber`),
  CONSTRAINT `fk_RaceResults_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_RaceResults_Meet` FOREIGN KEY (`MeetNumber`) REFERENCES `Meet` (`MeetNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `RaceResults`
--

LOCK TABLES `RaceResults` WRITE;
/*!40000 ALTER TABLE `RaceResults` DISABLE KEYS */;
INSERT INTO `RaceResults` VALUES (2,'2026-01','T90005','1','1','REG',1,1,1.00,'','warrensLee','2026-03-28 22:10:12');
/*!40000 ALTER TABLE `RaceResults` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TitleType`
--

DROP TABLE IF EXISTS `TitleType`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `TitleType` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(10) NOT NULL,
  `TitleDescription` varchar(200) NOT NULL,
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Title` (`Title`),
  KEY `fk_TitleType_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_TitleType_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TitleType`
--

LOCK TABLES `TitleType` WRITE;
/*!40000 ALTER TABLE `TitleType` DISABLE KEYS */;
/*!40000 ALTER TABLE `TitleType` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `UserRole`
--

DROP TABLE IF EXISTS `UserRole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `UserRole` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(20) NOT NULL,
  `EditDogScope` tinyint NOT NULL DEFAULT '0',
  `EditPersonScope` tinyint NOT NULL DEFAULT '0',
  `EditDogOwnerScope` tinyint NOT NULL DEFAULT '0',
  `EditOfficerRoleScope` tinyint NOT NULL DEFAULT '0',
  `EditUserRoleScope` tinyint NOT NULL DEFAULT '0',
  `EditClubScope` tinyint NOT NULL DEFAULT '0',
  `EditMeetScope` tinyint NOT NULL DEFAULT '0',
  `EditMeetResultsScope` tinyint NOT NULL DEFAULT '0',
  `EditRaceResultsScope` tinyint NOT NULL DEFAULT '0',
  `EditDogTitlesScope` tinyint NOT NULL DEFAULT '0',
  `EditTitleTypeScope` tinyint NOT NULL DEFAULT '0',
  `EditNewsScope` tinyint NOT NULL DEFAULT '0',
  `EditDatabaseScope` tinyint NOT NULL DEFAULT '0',
  `LastEditedBy` varchar(20) DEFAULT NULL,
  `LastEditedAt` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Title` (`Title`),
  KEY `fk_UserRole_LastEditedBy` (`LastEditedBy`),
  CONSTRAINT `fk_UserRole_LastEditedBy` FOREIGN KEY (`LastEditedBy`) REFERENCES `Person` (`PersonID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `UserRole`
--

LOCK TABLES `UserRole` WRITE;
/*!40000 ALTER TABLE `UserRole` DISABLE KEYS */;
INSERT INTO `UserRole` VALUES (1,'ADMIN',2,2,2,2,2,2,2,2,2,2,2,2,2,NULL,NULL),(2,'PUBLIC',1,1,1,0,0,1,1,1,1,1,1,1,0,NULL,NULL);
/*!40000 ALTER TABLE `UserRole` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-31  0:53:22
